
body {
    margin: 0;
    font-family: sans-serif;
    display: flex; 
    justify-content: center; 
    min-height: 100vh; 
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px; 
    height: 400px; 
    gap: 4px; 
    background-color: white; 
    padding: 0;
    
  
    margin-top: 50px; 
 
    margin-bottom: auto; 
}


.box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 2.5em; 
    font-weight: normal; 
}


.box-1 { background-color: #00BFFF; } 
.box-2 { background-color: #FF5733; } 
.box-3 { background-color: #4169E1; } 
.box-4 { background-color: #FFD700; } 
.box-5 { background-color: #8A2BE2; } 
.box-6 { background-color: #3CB371; } 
.box-7 { background-color: #F08080; } 
.box-8 { background-color: #20B2AA; } 
.box-9 { background-color: #800000; }